.ColorSelectorStyle
{
	width: 1.6rem;
	height: 1.6rem;

	background-color: transparent;
	border: none;

	opacity: 0.7;
	transition: 0.2s opacity;

	cursor: pointer;
}
.ColorSelectorStyle::-webkit-color-swatch
{
	border-radius: 50%;
	border: 4px solid var(--panel-foreground);
	padding: 0;
}
.ColorSelectorStyle::-moz-color-swatch
{
	border-radius: 50%;
	border: 3px solid var(--panel-foreground);
}

.ColorSelectorStyle:hover
{
	opacity: 1;
}