.CommentStyle
{
	min-width: 20vmin;
	height: 20vmin;

	background: var(--bubble-background);
	color: var(--bubble-foreground);

	border-radius: 6vmin;

	position: absolute;

	font-size: 1rem;
	font-weight: 400;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: 0.2s transform;
}

/* Positions if it is even */
.EvenCommentStyle
{
	transform: translate(0, 25vmin);
}
.EvenCommentStyle:hover
{
	transform: translate(0, 25vmin) scale(1.1);
}

/* Positions a comment if it is odd */
.OddCommentStyle
{
	transform: translate(0, -25vmin);
}
.OddCommentStyle:hover
{
	transform: translate(0, -25vmin) scale(1.1);
}

/* Adds style to the textarea */
.TextareaStyle
{
	outline: none;
	border: 0;

	width: 100%;
	height: 75%;

	font-size: 3vmin;

	border-radius: inherit;
	/* Important to make the comment to grow */
	resize: none;
	overflow: hidden;

	text-align: center;
}

/* Style for comment side buttons */
.HoveringButtonsStyle
{
	opacity: 0;
	transition: 0.2s opacity;
	user-select: none;
}

.CommentStyle:hover .HoveringButtonsStyle
{
	opacity: 1;
}

/* Content image style */
.ImageStyle
{
	box-sizing: border-box;
	height: 80%;
	margin: 2vmin;
	border-radius: 4vmin;
}