.ContainerStyle
{
	width: 15vmin;
	height: 15vmin;

	font-size: 3vmin;

	background-color: var(--bubble-background);

	transition: 0.2s transform;
	z-index: 1;
}

.ContainerStyle:hover
{
	transform: scale(1.1);
}

.InputStyle
{
	background: transparent;
	border: transparent;
	outline: none;
	text-align: center;

	max-width: 100%;
	height: 100%;

	font-weight: 500;
	font-size: 0.9rem;
	color: var(--bubble-foreground);
}