.ContainerStyle
{
	padding: 1vmin 2.5vmin 1vmin 2.5vmin;
	opacity: 0.4;

	cursor: pointer;

	transition: 0.2s opacity;

	display: flex;
	align-items: center;
	justify-content: center;
}

.ContainerStyle:hover
{
	opacity: 1;
}

.ContainerStyle svg
{
	fill: var(--panel-foreground);
}