.ToolbarStyle
{
	background: var(--panel-background);
	color: var(--panel-foreground);

	opacity: 0.7;
	transition: 0.2s all;

	right: 3vw;
	bottom: 5vh;
	position: absolute;
}
.ToolbarStyle:hover
{
	opacity: 1;
	transform: scale(1.1);
}