.VerticalLineStyle
{
	width: 1vmin;
	height: 25vmin;

	position: absolute;
	z-index: 0;

	background: var(--bubble-background);

	animation: created 0.4s;
}

.EvenLineStyle
{
	transform: translate(0, 50%);
}

.OddLineStyle
{
	transform: translate(0, -50%);
}

@keyframes created {
	0% {
		height: 0;
	}
	50% {
		height: 0;
	}
	100% {
		height: 25vmin;
	}
}