.ToolbarStyle
{
	background: var(--panel-background);
	color: var(--panel-foreground);

	opacity: 0.7;
	transition: 0.2s all;
	
	max-width: 90vw;

	right: 3vw;
	bottom: 5vh;
	position: absolute;

	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;

	border-radius: 50rem;
	padding: .5rem;
	padding-right: 1rem;
}

.ToolbarStyle:hover
{
	opacity: 1;
	transform: scale(1.1);
}

@media (orientation: portrait)
{
	.ToolbarStyle{
		left: 50%;
		transform: translate(-50%);
		right: auto;
	}
	.ToolbarStyle:hover
	{
		transform: translate(-50%) scale(1.1);
	}
}