.ContainerStyle
{
	width: 15vmin;
	height: 15vmin;

	border-radius: 50%;

	font-size: 3vmin;

	background-color: var(--bubble-background);

	transition: 0.2s transform;
	z-index: 100000;

	outline: none;
	font-weight: 600;
	font-size: 0.9rem;

	text-align: center;

	color: var(--bubble-foreground);

	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	animation: created 0.2s;
}

.ContainerStyle:hover
{
	transform: scale(1.1);
}

@keyframes created {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}