:root
{
  font-size: calc(50% + 2.0vmin);

  --background: rgb(33, 37, 41);

  --panel-background: rgb(50, 54, 58);
  --panel-foreground: white;

  --bubble-background: white;
  --bubble-foreground: black;
}